<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="w-full h-full m-0 p-2 overflow-hidden bg-zinc-900">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Neuron Front End</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="w-full h-full m-0 p-0 overflow-hidden rounded-md bg-stone-900">
    <div id="app-root" class="w-full h-full text-white">

        <div id="header" class="w-full rounded-lg bg-stone-800 rounded-b-none grid place-items-center pb-5" style="height: 10%">
            <div class="w-128 text-3xl font-bold font-mono">> NeuronSim</div>
            <div class="w-128 text-xl flex">
                <div class="bg-red text-white text-sm py-1 px-2 rounded">1. Morphology</div>
                <div class="bg-zinc-600 bg-pink text-white text-sm py-1 px-2 ml-2 rounded">2. Biophysics</div>
                <div class="bg-zinc-600 bg-purple text-white text-sm py-1 px-2 ml-2 rounded">3. Simulation</div>
                <div class="bg-zinc-600 bg-deep-purple text-white text-sm py-1 px-2 ml-2 rounded">4. Visualization</div>
            </div>
        </div>

        <div id="content" class="flex w-full" style="height: 90%">
            
            <div id="left-sidebar" class="h-full flex flex-col" style="width: 25%">
                <div class="relative bg-stone-700 rounded-lg m-1 mt-2 p-2">
                    <i class="absolute right-0 pr-3 pt-1 fa-solid cursor-pointer" :class="{ 'fa-caret-up': GUI.ShowHelp, 'fa-caret-down': !GUI.ShowHelp }" @click="ToggleHelp()"></i>
                    <span class="bg-red text-white text-base py-1 px-2 mx-16 rounded"><b>1.1</b> Define Cellular Structure</span>
                    <div v-if="GUI.ShowHelp" class="grid grid-col-1">
                        <span class="pt-1 text-sm indent-8">In Neuron, cells are made up of a series of connected points known as <b>segments.</b> Segments help Neuron map the shape and connectivity of a cell. </span>
                        <span class="pt-1 text-sm indent-8">For instance <b>a neuron is comprised of many segments</b>, such as the cell body, the axon, and segments for each for dendritic and axonal branch. </span>
                        <span class="pt-1 text-sm indent-8">To define a new segment, please click the 'New Segment' button below. To define new points, please ensure you have a segment selected and then <b>right-click</b> within the 3D viewport. </span>
                        <span class="pt-1 text-sm indent-8"><b>Segments names are important</b> as this is how the simulation engine tracks data flow. Please ensure each segment has a meaningful and unique name. </span>
                    </div>
                </div>

                <div class="rounded-lg m-1 mt-2">
                    <div class="w-36 py-1 bg-zinc-600 hover:bg-zinc-500 text-white text-sm font-bold rounded cursor-pointer text-center" @click="NewSegment()">
                        <i class="fa-solid fa-plus"></i>&nbsp;New Segment
                    </div>
                </div>

                <div class="scrollbar overflow-y-scroll flex-grow mb-2">

                    <div v-if="Morphology.ActiveSegment != -1" class="bg-stone-800 p-2 mx-1 mr-2 my-2 rounded text-sm grid grid-col-1">
                        <div class="w-full relative mb-2">
                            <span>Active Segment:</span>
                            <i class="absolute pr-2 right-0 fa-solid fa-trash cursor-pointer my-1" @click="DeleteSegment(Morphology.ActiveSegment)"></i>
                        </div>
                        <div class="pl-4">
                            <span>Name:</span>
                            <input class="text-black w-12 h-5 mx-2 rounded px-2 w-32 border-white border" 
                                v-model="Morphology.Segments[Morphology.ActiveSegment].name" />
                        </div>
                        <div class="pl-4 mt-1">
                            <span>Points:</span>
                            <div class="bg-black rounded-lg my-1 p-1 h-24">
                                <div class="overflow-y-scroll scrollbar h-full relative">
                                    <div v-for="(point, index) in Morphology.Segments[Morphology.ActiveSegment].points" class="my-2">
                                        <span class="w-3 overflow-hidden">{{index}}.&nbsp;</span>
                                        X: <input class="text-black h-5 mr-1 rounded pl-1 w-10 border-white border" v-model="point.position.x" v-on:change="ReDraw" />
                                        Y: <input class="text-black h-5 mr-1 rounded pl-1 w-10 border-white border" v-model="point.position.y" v-on:change="ReDraw" />
                                        Z: <input class="text-black h-5 mr-1 rounded pl-1 w-10 border-white border" v-model="point.position.z" v-on:change="ReDraw" />
                                        D: <input class="text-black h-5 mr-1 rounded pl-1 w-10 border-white border" v-model="point.diameter" v-on:change="ReDraw" />
                                        <i class="absolute right-0 pr-2 fa-solid fa-trash cursor-pointer my-1" @click="DeletePoint(index)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-stone-800 p-2 mx-1 my-2 mr-2 rounded text-sm" 
                        v-for="(segment, index) in Morphology.Segments" v-if="index != Morphology.ActiveSegment">
                        <div class="w-full relative">
                            <span>Segment {{index + 1}}:&nbsp;&nbsp;<b>{{segment.name}}</b></span>
                            <i class="absolute pr-2 right-0 fa-solid fa-caret-down cursor-pointer my-1" @click="ExpandSegment(index)"></i>
                        </div>
                    </div>
                </div>
                <!-- 
                <div v-if="">
                    <button class="bg-zinc-600 hover:bg-zinc-500 text-white text-sm py-1 px-2 rounded"
                        @click="_pullData()">
                        Load Cell
                    </button>   
                    <button class="bg-zinc-600 hover:bg-zinc-500 text-white text-sm py-1 px-2 rounded"
                        @click="NewSegment()">
                        New Segment
                    </button>   
                    <button class="bg-zinc-600 hover:bg-zinc-500 text-white text-sm py-1 px-2 rounded"
                        @click="NewCell()">
                        Clear Scene
                    </button>

                    <div v-if="State.Morphology.ActiveSegment != null" class="bg-stone-600 p-1 pl-2 mr-3 my-2 rounded">
                        Name: <input v-model="State.Morphology.ActiveSegment.name" class="text-black px-1" />
                        <i class="fa-solid fa-caret-up r-0 w-8 h-8 fa-caret-up cursor-pointer" @click="CollapseSegment($event, State.Morphology.ActiveSegment)"></i>
                        <br/>

                        <div class="w-full h-32 overflow-y-scroll scrollbar">
                            <div v-for="(point, index) in State.Morphology.ActiveSegment.points" class="flex py-1">
                                X: <input v-model="point.position.x" class="text-black w-12 h-6 mx-2" />
                                Y: <input v-model="point.position.y" class="text-black w-12 h-6 mx-2" />
                                Z: <input v-model="point.position.z" class="text-black w-12 h-6 mx-2" />
                                D: <input v-model="point.diameter" class="text-black w-12 h-6 mx-2" />

                                <i class="fa-solid fa-trash cursor-pointer my-1" @click="DeletePoint($event, State.Morphology.ActiveSegment, index)"></i>
                            </div>
                        </div>
                    </div>

                    <div v-for="segment in State.Morphology.Segments" class="bg-stone-800 p-1 pl-2 mr-3 my-2 rounded" v-if="State.Morphology.ActiveSegment != segment">
                        <span class="font-bold">{{ segment.name }}</span>
                        <span> [{{ segment.points.length}} points] </span>
                        <i class="fa-solid fa-caret-up r-0 w-8 h-8 fa-caret-down cursor-pointer" @click="CollapseSegment($event, segment)"></i>
                    </div>

                </div>
                <div v-if="State.ActiveView == 'Biophysics'">
                    <div class="bg-zinc-600 p-1 pl-2 mr-3 mb-4 rounded text-sm">
                        <span class="font-bold">Global Celluar Kinetics:</span><br/>
                        
                        <span class="ml-4">Axial Resistance (Ohm * cm):</span><br/>
                        <input v-model="State.Biophysics.Ra" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>
                        
                        <span class="ml-4">Membrane Capacitance (µ Farads / cm²):</span><br/>
                        <input v-model="State.Biophysics.cm" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>  
                    </div>

                    <div class="bg-zinc-600 p-1 pl-2 mr-3 mb-4 rounded text-sm">
                        <span class="font-bold">Soma Hodgkin-Huxley Kinetics:</span><br/>
                        
                        <span class="ml-4">Sodium Conductance (S / cm²):</span><br/>
                        <input v-model="State.Biophysics.gnabar" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>
                        
                        <span class="ml-4">Potassium Conductance (S / cm²):</span><br/>
                        <input v-model="State.Biophysics.gkbar" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>  
                        
                        <span class="ml-4">Leak Conductance (S / cm²):</span><br/>
                        <input v-model="State.Biophysics.gl" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>  
                        
                        <span class="ml-4">Reversal Potential (mV):</span><br/>
                        <input v-model="State.Biophysics.el" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>  
                    </div>

                    <div class="bg-zinc-600 p-1 pl-2 mr-3 rounded text-sm">
                        <span class="font-bold">Dendritic Passive Kinetics:</span><br/>

                        <span class="ml-4">Passive Conductance (S / cm²):</span><br/>
                        <input v-model="State.Biophysics.g" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>
                        
                        <span class="ml-4">Leak Reversal Potential (mv):</span><br/>
                        <input v-model="State.Biophysics.e" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>  
                    </div>
                </div>
                <div v-if="State.ActiveView == 'Simulation'">
                    <div class="bg-zinc-600 p-1 pl-2 mr-3 mb-4 rounded text-sm">
                        <span class="font-bold">Stimulus:</span>
                        <i class="fa-solid fa-plus pl-60 r-0 w-8 h-8 cursor-pointer" @click=""></i>

                        <br/>
                        <div class="w-64">
                            <span class="ml-4 w-48">Segment:</span>
                            <input v-model="State.Simulation.Stimulation.Segment" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>

                            <span class="ml-4 w-48">Location:</span>
                            <input v-model="State.Simulation.Stimulation.Location" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>

                            <span class="ml-4 w-48">Delay:</span>
                            <input v-model="State.Simulation.Stimulation.Delay" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>

                            <span class="ml-4 w-48">Duration:</span>
                            <input v-model="State.Simulation.Stimulation.Duration" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>

                            <span class="ml-4 w-48">Amplitude:</span>
                            <input v-model="State.Simulation.Stimulation.Amplitude" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>
                        </div>

                    </div>
                    <div class="bg-zinc-600 p-1 pl-2 mr-3 mb-4 rounded text-sm">
                        <span class="font-bold">Trace:</span>
                        <i class="fa-solid fa-plus pl-64 r-0 w-8 h-8 cursor-pointer" @click=""></i>

                        <br/>
                        <div class="w-64">
                            <span class="ml-4 w-48">Segment:</span>
                            <input v-model="State.Simulation.Recording.Segment" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>

                            <span class="ml-4 w-48">Location:</span>
                            <input v-model="State.Simulation.Recording.Location" class="text-black px-1 mx-2 ml-8 mt-1 mb-2 w-24" /><br/>
                        </div>
                    </div>
                </div>

                <div v-if="State.ActiveView == 'Visualization'">
                    <button class="bg-zinc-600 hover:bg-zinc-500 text-white text-sm py-1 px-2 rounded"
                        @click="RunSimulation()">
                        Run Simulation
                    </button>   
                </div>
            -->

            </div>

            <canvas id="babylon-canvas" class="h-full bg-black rounded-lg ml-2" style="width: 60%"></canvas>

            <div id="right-sidebar" class="h-full" style="width: 15%">
                <div class="w-36 py-1 bg-zinc-600 hover:bg-zinc-500 text-white text-sm font-bold rounded cursor-pointer text-center" @click="NewSegment()">
                    <i class="fa-solid fa-plus"></i>&nbsp;Next
                </div>
            </div>
        </div>
        
    </div>

    <!-- # Vue:  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <!-- TailWinds:  -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FontAwesome:  -->
    <script src="https://kit.fontawesome.com/ead8c4de3a.js" crossorigin="anonymous"></script>

    <!-- # Babylon:  -->
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/babylon.max.js"></script> -->
    <script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.js"></script> -->
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.js"></script> -->
    <script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.js"></script> -->
    <script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.js"></script> -->
    <script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.js"></script> -->
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/gui/babylon.gui.js"></script> -->
    <script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.max.js"></script> -->
    <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>
    <!-- <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.max.js"></script> -->
   
    <!-- Custom:  -->
    <script src="application.js"></script>

</body>
</html>
